DATABASE_URL="postgresql://user:password@endpoint.neon.tech/pycrm?sslmode=require"
PORT=3000
JWT_SECRET="generate_a_secure_random_string_here"
FRONTEND_URL="https://tu-proyecto-frontend.vercel.app"
REDIS_URL="rediss://default:password@endpoint.upstash.io:6379"
NODE_ENV="production"
